<%- include('../partials/header', { title }) %>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Bio</th>
            <th>Age</th>
            <th>Breed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% animals.forEach(a => { %>
            <tr>
                <td> <%= a.name %></td>
                <td> <%= a.bio %></td>
                <td> <%= a.age %></td>
                <td> <%= a.breed %></td>
                <td><a href="/animals/<%=a._id%>">Details</a></td>
            </tr>
            <% }) %>
    </tbody>

</table>


<%- include('../partials/footer') %>