<%- include('../partials/header', { title }) %>


<section>
    <h3>Name:</h3>
    <p><%= animal.name %></p>
    <h3>Bio:</h3>
    <p><%= animal.bio %></p>
    <h3>Age:</h3>
    <p><%= animal.age %></p>
    <h3>Breed:</h3>
    <p><%= animal.breed %></p>

    <form action="/animals/<%= animal.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
</section>


<%- include('../partials/footer') %>
